option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    APP_PORT: 8080
    LOG_LEVEL: info
    
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 14.17.0
    ProxyServer: nginx
    
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    SecurityGroups: web-tier
    
  aws:autoscaling:asg:
    MinSize: 2
    MaxSize: 4
    
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application
    
  aws:elbv2:listener:443:
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:123456789012:certificate/abcdef-1234-5678-9012-abcdefghijkl