files:
  "/etc/awslogs/config/application.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [application_logs]
      file = /var/log/nodejs/application.log
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "application.log"]]}`
      log_stream_name = {instance_id}
      datetime_format = %Y-%m-%d %H:%M:%S

packages:
  yum:
    awslogs: []

commands:
  01_create_log_dir:
    command: "mkdir -p /var/log/nodejs"
  02_change_permissions:
    command: "chmod 777 /var/log/nodejs"
  03_restart_awslogs:
    command: "service awslogs restart"

container_commands:
  01_enable_cloudwatch:
    command: "chkconfig awslogs on"